* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.appContainer {
  width: 100vw;
  height: 100vh;
}
.header{
  width: 100%;
  height: 80px;
  background-color: black;
}
.header-left, .header-right {
  width: 50%;
  height: 80px;
  float: left;
}
.header-right {
  text-align: right;
  border-left: 1px solid black;
}
.clearfix::after{
  content:"";
  display: table;
  clear: both;
}
.search {
  margin-top: 30px;
  padding: 5px;
  width: 200px;
}
button {
  margin-right: 20px;
  padding: 10px;
  width: 100px;
  border: none;
  color: white;
  background-color: #141414;
}
.containerContenuti {
  width: 100%;
  height: calc(200vh - 80px);
  background-color: #141414;
}
.sottoTitolo {
  width: 100%;
  height: 60px;
  color: white;
  font-size: 30px;
  line-height: 60px;
  padding-left: 20px;
}
.film, .serie {
  border-top: 1px solid black;
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-around; */
  overflow-y: auto;
}
.film {
  height: calc(100vh - 80px);
}
.serie {
  height: 100vh;
}
.card {
  width: 235px;
  height: 75%;
  background-size: cover;
  background-position: center;
  margin-left: 23px;
  margin-top: 20px;
  color: white;
  font-size: 15px;
}
.info {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  padding: 20px 7px 0 7px;
  overflow-y: auto;
}
.grasseto {
  font-weight: bold;
}
.original-title{
  padding: 7px 0;
}
.vote {
  display: inline-block;
}
.lingue{
  display: block;
  margin: 7px 0;
}
.info {
  display: none;
}
.card:hover .info {
  display: block;
}
